html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */
body, select, input, textarea {
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

html { overflow-y: scroll; }


a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; }

.ie6 legend, .ie7 legend { margin-left: -7px; } 

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

button, input, select, textarea { margin: 0; }

input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #ff9; color: #444; text-shadow: none; }
::selection { background: #ff9; color:#444; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #ff9; }

button {  width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }


/**
 * Primary styles
 */

body {
	margin-top: 1.0em;
	background-color: #fff;
	font-family: Helvetica,Arial,FreeSans;
	color: #000;
}

#container {
	margin: 0 auto;
	width: 700px;
}

h1 { 
	font-size: 5em; 
	color: #000;
}
header { margin-bottom: 2em; }
header .description {
	font-size: 1.2em; 
	margin: 0 1.5em;
	font-style: italic;
}

nav {
	padding: 1.5em;
	position: fixed;
	top: 12em;
	right: 1em;
	
	background-color: #EEE;
	border: #CCC solid thin;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

nav:hover {
	background-color: #DDD;
	border-color: #BBB;
}

nav ul {
	margin-left: 1em;
}

nav ul li {
	list-style-type: disc;
}

code {
	display: block;
	padding: 0 1.5em;
	margin: 1.5em 0;
}

.Example {
	margin: 0 1.5em 1em;
}

/* Fix for overlapping content */
@media screen and (max-width: 1125px) {
	nav {
		position: static;
		float: right;
		top: auto;
		right: auto;
	}
	
	#Synopsis {
		margin-right: 17em;
	}
}

h1, h2 {
	text-shadow: 3px 3px 5px #AAA;
	filter: dropshadow(color=#AAA, offx=3, offy=3);
}

h1 a { text-decoration: none }
h2 { font-size: 2em; color: #000; }
h3 { text-align: center; color: #000; }

p, ul, code {
	font-size: 1.25em;
	line-height: 1.5em;
	margin: 0 1.5em 1em;
}

code {
	padding: 0 1em;
}

ul li ul {
	font-size: 1em;
}

.download { float: right; }

pre { background: #000; color: #fff; padding: 15px;}

hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}

footer { text-align:center; font-style: italic; margin: 3em 0; }

#GitWedge { position: absolute; top: 0; right: 0; border: 0; }

section {
	border: #DDD solid thin;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	margin: 1em 0;
	padding: 1.5em;
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

section:hover {
	background-color: #EEE;
	border-color: #CCC;
}


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }